/* CSS OT SIMS */
/* Thème couleur : http://0to255.com/5d8dfc */

body {
	font-size: 1.2em;
	font-family: Verdana, sans-serif;
	height: 100%;
	
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#d6d6d6));
	background: -moz-linear-gradient(top,  white,  #d6d6d6);
	background-repeat: no-repeat;
	background-color: #d6d6d6;
}

#body {
}

#body > div,
#body > form {
	margin : 10px;
}

/* Header */

#header {
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid gray;
	-moz-border-radius		: 10px;
	-webkit-border-radius	: 10px;
	
	background-color: #e2ebfe;
	background: -webkit-gradient(linear, left top, left bottom, from(#e2ebfe), to(#c1d4fd));
	background: -moz-linear-gradient(top,  #e2ebfe,  #c1d4fd);
}

#header > div {
	display: inline-block;
}

h1 {
	margin: 0px 0px 0px 10px;
	font-size: 1.2em;
	font-weight: normal;
	text-shadow: 1px 1px 1px white;
}

/* Content */

img {
	border: 0px;
}

hr {
	margin: 17px 10px 25px 10px;
}

.readonly {
	margin-bottom: 8px;
	padding: 5px;
	background-color: white;
	
	border: 1px solid black;
	-moz-border-radius		: 10px;
	-webkit-border-radius	: 10px;
}

/* Messages */

.msg {	
	font-style: italic;
	margin-bottom: 20px;
}
.minimsg {
	color: gray;
	size: 2em;
}

ul.msg {
	margin-top: 0px;
	margin-bottom: 25px;
}

.error {
	background-color: yellow;
	background: -webkit-gradient(linear, left top, left bottom, from(yellow), to(#f2d750));
	background: -moz-linear-gradient(top,  yellow,  #f2d750);
	
	padding: 10px;
	border: 1px solid black;
	-moz-border-radius		: 10px;
	-webkit-border-radius	: 10px;
}
.error:empty {
	display: none;
}

/* Form */

label {
	display: block;
	margin-bottom: 4px;
}


.large {
	display: block;
	width: 100%;
	font-size: 1em;
	margin: 0px 0px 20px 0px;
	padding: 3px 0px 3px 0px;
}

input[type="submit"],
button {
	-webkit-appearance: button;
	margin-top: 20px;
	height: 40px;
	padding: 6px 0px 6px 0px;
}

form .timestamp {
	float: left;
	margin: 0 10px 0 0;
	display: inline;
	width: auto;
}

.section {
	margin: 0px 0px 24px 0px;
}
.section .large {
	margin: 0px 0px 8px 0px;
}

form td > label {
	display: inline-block;
	margin-left: 6px;
	position: relative;
	top: 1px;
}
form td {
	display: block;
}

/* People */

.people_link {
	position: relative;
	width: 100%;
}
.people_link > * {
	display: inline-block;
	height: 40px;
}
.people_link *:first-child {
	margin-top: 0px;
	width: 82%;
}
.people_link *:last-child {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 15%;
	margin-top: 0px;
}

/* Ride lists */

#rides {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.ride,
.ride_details,
#body > div.ride_details {
	display: block;
	width: 100%;
	border: 1px solid grey;
	margin: 0px 0px -1px 0px;
	background: #dfd;
	background: -webkit-gradient(linear, left top, left bottom, from(#dfd), to(#bfb));
	background: -moz-linear-gradient(top,  #dfd,  #bfb);
	padding: 5px 0px 5px 0px;
}
.ride_details {
	padding: 10px 0px 10px 0px;
}
.ride_details div {
	margin: 0px 10px 0px 10px;
}

.ride:first-child,
.ride_details {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
}
.ride:last-child,
.ride_details {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
}

.ride:hover,
.ride_details:hover {
	background-color: #efe;
	background: -webkit-gradient(linear, left top, left bottom, from(#efe), to(#cfc));
	background: -moz-linear-gradient(top,  #efe,  #bfb);
}

.ride:active {
	background-color: #cfc;
	background: -webkit-gradient(linear, left top, left bottom, from(#cfc), to(#afa));
	background: -moz-linear-gradient(top,  #cfc,  #bfb);
}

.ride.car {
	background: url('/static/img/car_50px.png') 50% 50% #ddf no-repeat;
}

.ride.car:hover {
	background-color: #eef;
}

.ride.car:active {
	background-color: #ccf;
}

.ride.expired {
	background-color: #ddd;
}

.ride.expired:hover {
	background-color: #eee;
}

.ride.expired:active {
	background-color: #ccc;
}

.ride div,
.ride_details div {
	height: 25px;
}

.ride .countdown {
	margin-top: -50px;
	font-weight: bold;
}
.ride_details .to {
	margin-bottom: 20px;
}
.ride_details .countdown span {
	font-weight: bold;
}
.ride .matching {
	margin-top: -25px;
}
.ride_details .countdown,
.ride_details .matching {
	font-size: 0.9em;
	margin-top: -4px;
}
.ride .countdown,
.ride .matching {
	float: right;
}

.ride a {
	display: block;
	color: black;
	text-decoration: none;
	margin: 5px 10px 5px 10px;
}

.ride a:visited {
	color: black;
}

.ride .to span,
.ride .from span,
.ride_details .to span,
.ride_details .from span {
	display: inline-block;
	min-width: 35px;
	font-size: 0.75em;
}

/* Footer */

#footer {
	margin-top: 40px;
	text-align: center;
	font-size: 0.8em;
	color: gray;
}


.hidden {
  display:none;
}




