{% extends "layout.html.jinja2" %}
{% block body %}
  <form action="{{ url_for('add_departure_do') }}" method="post" class="add-departure">
    <dl>
      <dt>Starts from:
      <dd><input type="text" size="30" name="starts_from">
      <dt>Goes to:
      <dd><input type="text" size="30" name="goes_to">
      <dt>When ?
      <dd><input type="text" size="30" name="ts">
      <dd><input type="submit" value="GoGoGo!">
    </dl>
  </form>
{% endblock %}

