{% extends "layout.html.jinja2" %}
{% block body %}
  <ul>
    <li><a href={{ url_for('list_departures') }}>List departures</a></li>
    <li><a href={{ url_for('add_departure') }}>Add departure</a></li>
  </ul>
{% endblock %}
