{% extends "layout.html.jinja2" %}
{% block body %}
  <ul class=departures>
    {% for departure in departures %}
      <li>
        Starts from: {{ departure.starts_from }}<br />
        Goes to: {{ departure.goes_to }}<br />
        When ? {{ departure.ts }}
      </li>
    {% else %}
      <li><em>Unbelievable.  No departures here so far</em></li>
    {% endfor %}
  </ul>
{% endblock %}
