/* CSS OT SIMS */

body {
	font-size: 1.2em;
	font-family: Verdana, sans-serif;
}

#body {
}

#body > div,
#body > form {
	margin : 10px;
}

/* Header */

#header {
	background-color: #DDD;
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid gray;
	-moz-border-radius		: 10px;
	-webkit-border-radius	: 10px;
}

#header > div {
	display: inline-block;
}

h1 {
	margin: 0px 0px 0px 10px;
	font-size: 1.2em;
	font-weight: normal;
	text-shadow: 1px 1px 1px white;
}

/* Content */

img {
	border: 0px;
}

hr {
	margin: 17px 10px 25px 10px;
}

/* Form */

label {
	display: block;
	margin-bottom: 4px;
}

input,
select,
textarea,
button {
	display: block;
	width: 100%;
	font-size: 1em;
	margin: 0px 0px 20px 0px;
	padding: 3px 0px 3px 0px;
}

input[type="submit"] {
	-webkit-appearance: button;
	margin-top: 20px;
	padding: 6px 0px 6px 0px;
}

/* Footer */

#footer {
	margin-top: 40px;
	text-align: center;
	font-size: 0.8em;
	color: gray;
}
